
<nav class="navbar navbar-expand-lg" style="background: #f38b0e;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <span class="navbar-brand" href="#">School managment system </span>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active-link" aria-current="page" routerLink="student/studentList">Students List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active-link" aria-current="page" routerLink="/teacherList">Teachers List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active-link" aria-current="page" routerLink="/courseList">Courses List</a>
        </li>
      </ul>
    </div>
  </div>
  <span class="time">{{ dateModel | date:'short' }}</span>
</nav>
<router-outlet></router-outlet>

<br>
<br>


