<div class="card">
  <div class="card-header">
    Update Course
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label  class="form-label">Course Name </label>
        <input type="text" class="form-control" [value]="courseObg.courseName" [(ngModel)]="courseObg.courseName" name="courseName">
      </div>
      <div class="mb-3">
        <label  class="form-label">Student Course</label>
        <select class="form-control selectpicker" multiple [(ngModel)]="courseObg.courseStudent" name="courseStudent">
          <option *ngFor="let user of studentlist " [value]="user.studentName">{{ user.studentName }}</option>
        </select>
      </div>

      <button type="submit" (click)="updateCourse()" class="btn btn-primary">Update</button>
    </form>
</div>
  </div>
  <script>
    $('select').selectpicker();
  </script>
